
body{
    
    background-color: rgb(229, 233, 234);
}


section{
    margin-right: 40px;
   margin-left: 40px;

}

main{
    height: 100vh;
}

h1{
    font-size: 40px;
    text-decoration: underline;
}

#projects-text{
    margin-bottom: 10px;
}

.aboutme{
    margin-right: 20px;
    padding: 20px;
    float: left;
    width: 20%;
}

.profileimg{
    height: 200px;
    width: 200px;
}

img{
    height: 200px;
    width: 200px;
}